<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M-Chat App</title>
    <link rel="stylesheet" href="/CSS/chatpage.css">
</head>
<body>
    <h1 style="text-align: center;">M-Chat App</h1>
    <p style="text-align: center; font-style: italic;">"Communication works for those who work at it."</p>
    <div id="message-container">
       
    </div>
    <div id="input-container">
        <input type="text" id="message-input" placeholder="Type your message here..." style="width: 10cm;" />
        <button id="send-button">Send</button>
    </div>

</body>

<script src="/JS/chatpage.js"></script>

</html>
