<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MChat - Sign Up</title>
    <link rel="stylesheet" href="/CSS/signup.css">
</head>

<body>
    <div id="signup-form">
        <h2>M-Chat</h2>
        <p>"Connecting the world, one chat at a time."</p>
        <form onsubmit="signup(event)">
            <input type="text" placeholder="Name" id="name" required><br>
            <input type="email" placeholder="Email" id="email" required><br>
            <input type="tel" placeholder="Phone Number" id="phone" required><br>
            <input type="password" placeholder="Password" id="password" required minlength="6"><br>

            <input type="submit" value="Sign Up">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/signup.js"></script>
</body>

</html>
