#message-container {
    border: 1px solid #ddd;
    height: 300px;
    overflow: auto;
    padding: 10px;
    margin-bottom: 20px;
  
}

#input-container {
    display: flex;
    align-items: center;
   
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 2px solid black;
    max-width: 75%;
}

#send-button {
    padding: 10px 20px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#send-button:hover {
    background-color: #0056b3;
}