body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
}

.left-section, .right-section {
    flex-basis: 15%;
    background-color: #f9f9f9;
    padding: 20px;
}

.left-section ul, .right-section ul {
    list-style: none;
    padding: 0;
}

.left-section li, .right-section li {
    margin-bottom: 10px;
    cursor: pointer;
}

.mid-section {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
}

#message-container {
    margin-bottom: 20px;
}

#right-menu {
    list-style: none;
    padding: 0;
}

#right-menu li {
    margin-bottom: 20px;
}

#right-menu li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

#right-menu li a:hover {
    color: #4caf50;
}

#right-menu li i {
    margin-right: 10px;
}

#input-container {
    display: flex;

   
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
}

#message-input {
    width: 50%;
    margin-right: 10px;
    margin-left: 7cm;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#send-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
}

h1, h2, p {
    margin: 0;
}
#message-container {
    margin-bottom: 20px;
    text-align: left; 
    padding: 2cm;
    padding-top: 1cm;
}
.group-item {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.group-name {
    font-weight: bold;
}

.admin-info {
    color: #888;
    font-size: 0.8em;
}
#group-name-header {
    font-size: x-large;
    font-weight: bold;
    background-color: lightgray;
    padding: 10px;
  }